 .container{
        height: 100%;
    margin: auto;
    max-width: 1650px;
    padding: 0 40px;
    }
    .card{
        border: 1px solid;
    width: fit-content;
    padding: 50px;
    }
    .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}