<!--
  templateType: global_partial
  label: Footer
-->

   <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="footer-wrapper footer-section">
                        <img src="https://img.eselt.de/img/15636240_gucvgK7jxNba2r28/ad.jpg" class="footer-logo" alt="logo">
                        <p class="footer-desc">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                        <div class="social-links">
                            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="footer-section">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Mobile</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="footer-section">
                        <h3>Contact</h3>
                        <ul>
                            <li><a href="#">Why Travlog?</a></li>
                            <li><a href="#">Partner with us</a></li>
                            <li><a href="#">FAQ's</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="footer-section">
                        <h3>Meet Us</h3>
                        <ul>
                            <li><a href="tel:+0092123456789">+00 92 1234 56789</a></li>
                            <li><a href="mailto:info@travlog.com">info@travlog.com</a></li>
                          <li>  <a href="#" target="_blank"> 205. R Street, New York BD23200</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
           
        </div>
    </footer>