<!--
  templateType: global_partial
  label: Website header
-->
  <header class="header">
  <nav>
    <div class="container">
      <div class="header-wrapper">
        <div class="logo">
               <img src="https://img.eselt.de/img/15636240_gucvgK7jxNba2r28/ad.jpg" class="footer-logo" alt="logo">
        </div>
        <div class="nav-menu">
          <ul class="nav-links">
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">Discover</a></li>
            <li><a href="#">Special Deals</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="auth-buttons">
          <a href="#" class="login-btn">Log In</a>
          <a href="#" class="signup-btn">Sign Up</a>
        </div>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </div>
    </div>
  </nav>
</header>
